body {
    height: 100%;
    background-color: #2E152A;
    /*background-image: url("../images/backgroundspotify.png");*/
    /*background-image: url("../images/webbackground1.png");*/
    /*background-size: 100%;*/

}

@media (max-width: 400px) {
    body {
        background-image: url("../images/backgroundspotify.png");
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

@media (min-width: 401px) {
    body {

        background-image: url("../images/webbackground1.png");
        background-size: 100%;
        background-repeat: no-repeat;
    }
}


.container {
    color: #ffffff;
    padding: 0;
    width:100%;
    height: 100%;
    position:fixed;
    top:0px;
    left:0px;
    height: 100%;
    display: flex;
    align-items: center;

}

.containerInner{

    width:100%;
    text-align: center;
    display:inline-block;
    vertical-align:middle;

}



.containerInner img {
    display: inline-block;
    position: relative;
    top: 40%;
    margin-bottom: 10px;

}

.btn-info {
    display: inline-block;
    position: relative;
    top:40%;
    background: #1ABC9C;
    border-color: #1ABC9C;
    font-family: "Helvetica Neue";
    font-size: 12pt;
    padding: 10px 15px 10px 15px;
}

.btn-info:hover {
    background: #1ABC9C;
    border-color: #1ABC9C;
}

/*.spotifylogo {

    float: right;
    opacity: 0.4;
    width: 85%;
}

.placepinlogo {

    position:fixed;
    left:20px;
    bottom: 20px;
    width: 40%;
    opacity: 0.4;
}*/
