body {

}

.dropfont, .ifyfont {
    font-size: 2.5rem;
}

.dropfont {
    font-family: 'Source Sans Pro', sans-serif;

}

.ifyfont {
    font-family: 'Heebo', sans-serif;
}

.jumbotron {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.jumbotron {
    height: 8rem;
    background-color: #2E152A;
    color: #ffffff;
    display: flex;
    justify-content: center;
    /*align-items: center;
    align-content: center;  */
}

.jumbotron h1 {
    bottom: 50%;
}
